.login-base-button:link {
    padding: 9px 20px;
    font-size: 16px;
    background: #FFF;
    text-decoration: none;
    outline: 0;
    display: block;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    background: #3B5998;
    color: #FFF;
    text-decoration: none !important;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;   
}
.login-base-button:visited {
    color: #FFF;
}
.login-base-button:hover {
    color: #FFF;
}
.login-base-button:active {
    color: #FFF;
}
.login-space-bottom {
    margin-bottom: 15px;
}
.facebook-login:link {
    background: #3B5998;
}
.facebook-login:visited {
    background: #3B5998;
}
.facebook-login:hover {
    background: #4a67a2;
}
.facebook-login:active {
    background: #3B5998;
}

.twitter-login:link {
    background: #1178b3;
}
.twitter-login:visited {
    background: #1178b3;
}
.twitter-login:hover {
    background: #1178b3;
}
.twitter-login:active {
    background: #1178b3;
}
/* google sign in button */
#g-signin2 {
	width: 100%;
}
#g-signin2 > div {
	width: 100% !important;
	height: 43px !important;
	background: #db4437;
}
#g-signin2 > div .abcRioButtonContentWrapper {
	position: relative;
}
#g-signin2 > div .abcRioButtonContentWrapper .abcRioButtonIcon {
	position: absolute;
	left: 0px; top: 0px;
}
#g-signin2 > div .abcRioButtonContentWrapper > span {
	margin-top: 4px;
    display: block !important;
}
#g-signin2 > div .abcRioButtonContentWrapper span span {
    display: none;
}
#g-signin2 > div .abcRioButtonContentWrapper > span:before {
    content: "Sign in with Google";
	font-family: 'Open Sans', sans-serif;
	text-align: center;
    font-size: 16px;
    font-weight: 300;    
}
#g-signin2 > div .abcRioButtonContentWrapper .abcRioButtonIcon {
	display: none;
}
#g-signin2 span {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF !important;
}