

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed; left: 0px; top: 0px; z-index: 10000;
    /*background: rgba(0, 0, 0, .8);*/
    /*background: #0f1b26;*/
    background: #32228f;
    .generic-modal {
        width: 380px;
        background: #FFFFFF;
        position: relative; margin: auto;
        margin-top: 1%;
        border-radius: 2px;
    
        .modal-header {
            padding: 5px;
            text-align: center;
            position: relative;
    
            .title {
                padding: 7px;
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                color: #44484b;
                font-family: 'Open Sans',sans-serif;
                text-align: center;
                width: 100%;
            }
            .underline {
                height: 1px;
                background: #e6e6e6;
            }
        }
        .body {
            padding: 20px;
            .content {
                margin-bottom: 25px;
                .error {
                    color: red;
                    text-align: center;
                    margin: 0;
                }
            }
            .full-width {
                width: 100% !important;
            }
        }
    }
}

.sign-in-ui {
    width: 100%;
    height: 100%;
    position: fixed; left: 0px; top: 0px; z-index: 10000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    .signin-logo-ui {
        text-align: center;
        padding: 40px 0px;
        div {
            color: #F2F2F2;
            span {
                color: #fc363b;
                margin-left: 2px;                
            }
        }     
    }
}

.airpush-logo-inpage {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1px;  
    line-height: 62px;
    text-size-adjust: 100%;
}   