$topbarHeight: 50;
$topbarBackground: '#eeeeee';
$topbarBorderColor: '#dbdbdb';
$chatBottomBarBackground: '#eeeeee';
$chatBottomBarBorderColor: '#dbdbdb';
$chatBottomBarHeight: 65;

$chatMessengerWidth: 350;

@import 'utils.scss';
@import 'modal.scss';
@import 'buttons.scss';

html, body, #airpush-ui {
    height: 100%;
    overflow: hidden;
}
#airpush-ui {
    position: relative;
    .airpush-main {
        height: 100%;
        overflow: hidden;
        position: relative;

        /* main menu */
        .main-menu-ui {
            position: fixed;
            z-index: 999;
            left: 0; top: 0;
            background: #0f1b26;
            width: 250px; height: 100%;
            .close-menu-button {
                position: absolute;
                top: 0px; right: 5px;
            }
            .admin-logo {
                text-align: center;
                margin: 20px 0px;
                margin-top: 50px;
                letter-spacing: 2px;
                img {
                    display: inline-block;
                    width: 35px;
                    margin-right: 10px;
                }
                .logo-text {
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .menu-list {
                list-style-type: none;
                padding: 20px 10px;
                padding-left: 45px;
                li {
                    display: block;
                    margin: 8px 0px;
                    .menu-link:link {
                        color: #FFFFFF;
                        text-decoration: none;
                        font-weight: 300;
                        font-size: 15px;
                        position: relative;
                        width: 100%;
                        .menu-active {
                            position: absolute; left: -22px; top: 5px;
                            width: 10px; height: 10px; border-radius: 5px;
                            background: #fc363b;
                            display: block;
                        } 
                    }
                    .menu-link:visited {
                        color: #FFFFFF;
                    }
                    .menu-link:hover {
                        color: #c4c4c4;
                    }
                    .menu-link:active {
                        color: #FFFFFF;
                    }
                    .menu-active-color {
                        color: #606fc3 !important;
                    }                       
                }
            }
        }

        .top-bar-main {
            z-index: 998; position: fixed; left: 0; top: 0;
            background: #{ $topbarBackground };
            width: 100%; 
            height: #{($topbarHeight) + 'px'};
            border-bottom-style: solid; border-width: 1px; border-color: #{$topbarBorderColor};
            .open-menu-button {

            }
            .users-topbar {

            } 
            .topbar-logo-ui {
                position: absolute; width: 100%; left: 0; text-align: center;
                .topbar-logo {
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    font-size: 32px;
                    letter-spacing: -1px;
                    line-height: 62px;
                    text-size-adjust: 100%;
                    margin-top: -8px;
                    display: inline-block;
                    span {
                        color: #fc363b;
                        margin-left: 2px;                
                    }             
                } 
                @media screen and (max-width: 600px) {
                    .topbar-logo {
                        display: none;
                    }
                }                                
            }
        }

        /* generic app section */
        .app-section {
            height: 100%;
            padding-top: #{($topbarHeight) + 'px'};
            position: relative;

            .app-section-content {
                height: 100%; position: relative;
                .section-content-ui {
                    height: 100%; 
                    overflow: hidden;
                    position: relative;
                    color: #797979;
                    
                    .section-content {
                        position: relative;
                        padding: 10px; 
                        overflow-y: auto; overflow-x: hidden;                   
                    }

                    .inside-content-card {
                        padding: 16px;
                        background: #f7f7f7;
                        border-radius: 2px;
                        margin-bottom: 30px;
                        .card-title {
                            font-size: 17px;
                            margin-bottom: 11px;
                        }
                        .card-title-underline {
                            height: 1px; background: #CCC; margin-bottom: 20px;
                        }
                        .info-text {
                            font-size: 15px;
                            margin-top: 30px;
                            line-height: 156%;                            
                        }
                    }

                    .section-title {
                        color: #000;
                        font-size: 22px;
                        font-weight: 500;                        
                    }

                    &.my-account {
                        position: relative;
                        padding: 20px;
                        overflow-x: hidden; overflow-y: auto;
                    }                     
                    
                    /* chat section */
                    &.chat-section {
                        position: relative;
                        .joining-chatroom {
                            p {
                                text-align: center; margin-top: 50px; margin-bottom: 20px;
                            }
                            div {
                                width: 30px; position: relative; margin: auto;
                                img { width: 100%; }
                            }
                        }
                        .create-chatroom {
                            text-align: center;
                            margin-top: 10%;
                        }
                        .chat-left-controlls {
                            position: absolute; left: 10px; top: 10px; z-index: 100;
                        }
                        .users-panel {
                            position: absolute; top: 10%; right: 15px; width: 40px; z-index: 101;
                            .user-ui {
                                .user-avatar {
                                    position: absolute; width: 40px; height: 40px; border-radius: 20px; left: 0; top: 0;
                                    background: #CCCCCC;
                                    .user-img {
                                        width: 40px; height: 40px; position: absolute; left: 0; top: 0; border-radius: 20px;
                                    }                                    
                                }
                            }
                        }
                        .messenger-ui {

                        }
                        .main-view {
                            height: 100%; overflow: hidden; position: relative;
                            .chat-group-full-ui {
                                &.sidebar-open {
                                    width: calc(100% - #{($chatMessengerWidth) + 'px'});
                                }
                                &.sidebar-close {
                                    width: 100%;
                                }
                                position: relative; height: 100%;
                                height: 100%; overflow: hidden;
                                background: #f7f7f7;
                                
                                .open-close-menu {
                                    position: absolute; right: 0px; top: 0px; z-index: 150;
                                }

                                .chat-media-sources {
                                    width: 100%; height: 100%; position: relative; background: #000;
                                    .minimized-media-sources {
                                        position: absolute; left: 7px; top: 11px; z-index: 100;
                                    }
                                }

                                .chat-main-bottom-controlls {
                                    position: absolute; bottom: 15px; left: 0px; width: 100%;
                                    z-index: 200;
                                    text-align: center;
                                    .controlls-ui {
                                        display: inline-block;
                                        padding: 0px; border-radius: 3px;
                                        background: rgba(50, 28, 145, 0.8);
                                        z-index: 1;
                                    }
                                    .right-controls-advertise {
                                        height: 100px; width: 100px;
                                        z-index: 2;
                                        position: absolute; bottom: -15px; right: 0px;
                                    }
                                }
                            }
                            .chat-group-main-messenger {
                                &.open {
                                    width: calc(#{($chatMessengerWidth) + 'px'});
                                }
                                &.close {
                                    width: 0px;
                                }
                                height: 100%; position: relative;
                                background-image: url("/assets/img/seigaiha.png");
                                border-left-style: solid;
                                border-width: 1px;
                                border-color: #dbdbdb;                                
                            }                            
                        }
                        .advertise-messenger {
                            position: absolute; left: 0px; top: 0px; width: 100%; height: 100px;
                            z-index: 100;
                        }
                        .chat-messenger {
                            position: relative;
                            height: calc(100% - #{($chatBottomBarHeight) + 'px'});
                            overflow-x: hidden; overflow-y: scroll;
                            padding: 0px 67px;
                            font-size: 14px;
                            .messages-content {
                                padding: 20px 0px;
                                .message-user-activity {
                                    text-align: center;
                                    .user-activity {
                                        background: #FFFFFF; margin: 12px 0px;
                                        display: inline-block;
                                        padding: 11px 14px;
                                        border-radius: 8px;                                        
                                        .user-photo {
                                            width: 30px; height: 30px; border-radius: 15px;
                                            display: inline-block;
                                        }
                                        .user-name {
                                            display: inline-block;
                                        }
                                    }
                                }
                                .user-message {
                                    margin: 16px 0px;
                                    .user-message-content {
                                        padding: 10px 16px; border-radius: 4px;
                                        background: #FFFFFF;
                                        max-width: 100%;
                                        position: relative;
                                        .message-arrow {
                                            width: 26px; position: absolute; top: 0px;
                                            img {
                                                width: 100%;
                                            }
                                            &.left {
                                                left: -18px;
                                            }                                            
                                            &.right {
                                                right: -18px;
                                            }
                                        }
                                        .user {
                                            margin-bottom: 9px;
                                            .user-photo {
                                                margin-right: 13px; width: 30px; height: 30px; border-radius: 15px;
                                            }
                                            .user-name {
                                                font-size: 13px;
                                                font-weight: 600; margin-top: 2px; margin-bottom: 0px;
                                            }
                                        }
                                        .message-body {
                                            font-size: 13px;                                        
                                            .text-content {
                                                overflow-wrap: break-word !important;
                                                word-wrap: break-word !important;                                     
                                                a:link {
                                                    color: #4fa3f7;
                                                }
                                                a:visited {
                                                    color: #4fa3f7;
                                                }
                                                a:hover {
                                                    color: #70b5fb;
                                                }
                                                a:active {
                                                    color: #4fa3f7;
                                                }                                                
                                            }
                                            .accept-message-content {
                                                .file-name { font-style: italic; };
                                            }
                                        }
                                        &.owner {
                                            float: right; background: #ece9f7;
                                        }
                                        &.stranger {
                                            float: left; background: #FFFFFF;
                                        }                                                                               
                                    }                                   
                                } 
                                @media screen and (max-width: 800px) {
                                    .user-message {
                                        .user-message-content {
                                            max-width: 100%;
                                            background: #fc363b;                                            
                                        }
                                    }
                                }                                  
                            }                      
                        }
                        .chat-messenger::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            background-color: #F5F5F5;
                        }
                        .chat-messenger::-webkit-scrollbar {
                            width: 6px;
                            background-color: #F5F5F5;                            
                        } 
                        .chat-messenger::-webkit-scrollbar-thumb {
                            background-color: #888888;
                            border-radius: 2px;
                        }                                                         
                        .bottom-chat-bar {
                            position: absolute;
                            width: 100%; height: #{ ($chatBottomBarHeight) + 'px' }; background: #{ $chatBottomBarBackground };
                            border-top-style: solid; border-width: 1px; border-color: #{$chatBottomBarBorderColor};
                            left: 0; bottom: 0px;
                            padding: 10px;
                            .chat-room-input {
                                height: 38px;
                                outline: none;
                                padding: 3px;
                                border-radius: 4px;
                                border: none;                            
                                width: calc(100% - 50px);
                                padding-left: 10px;
                                color: #7b7b7b;
                            }
                        }
                    }
                    &.chat-room-background {
                        /*background-image: url("/assets/img/seigaiha.png");*/
                        background-repeat: repeat; 
                    }                
                }                
            }
        }
    }
}

.user-avatar {
    margin-top: 6px;
    span {
        text-transform: none !important;
    }
}

.share-link {
    .room-share-url {
        background: #292929;
        padding: 5px 11px;
        font-size: 14px;
        margin-right: 14px;
        margin-top: 3px;
        color: #F2F2F2;
        margin-bottom: 15px;                          
    }
}

.users-item {
    padding: 5px 10px;
    .user-img {
        width: 40px; height: 40px; border-radius: 20px; margin-right: 12px; 
    }
    p {
        margin-top: 6px;
    }                  
}

.media-source {
    background: #000; color: #F2F2F2;
    position: relative;
    margin-bottom: 10px;
    max-width: 300px;
    cursor: pointer;
    overflow: hidden;
    border-style: solid; border-width: 2px; border-color: #321c91;
    .no-video {
        position: absolute; z-index: 1;
    }    
    video {
        width: 100%; height: 100%; left: 0; top: 0;
        position: absolute;
        z-index: 2;
    }
    .media-source-user {
        color: #adacac;
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0;
        background: rgba(0,0,0,.8);
        padding: 2px 2px;
        font-size: 10px;
        z-index: 3;
    }
}
.media-source-full {
    background: #000; color: #F2F2F2;
    position: absolute; z-index: 98; width: 100%; height: 100%; left: 0; top: 0;
    overflow: hidden;
    .no-video {
        position: absolute; z-index: 1; width: 100%; left: 0px; text-align: center; top: 45%;
        background: #4fa3f7;
        .icon {
            display: inline-block;
        }
    }
    video {
        width: 100%; height: 100%; left: 0; top: 0;
        position: absolute;
        z-index: 2;
    }
    .media-source-user {
        color: #adacac;
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin: 0;
        background: rgba(0,0,0,.8);
        padding: 5px 10px;
        z-index: 3;
    } 
    .full-screen-advertisment-bottom {
        position: absolute; left: 0; bottom: 0; width: 100%; height: 90px;
        z-index: 4; text-align: center;
        .add-728x90 {
            width: 728px; max-width: 728; height: 90px;
            display: inline-block;
        }
    }       
}

.base-alert-content {
    .title {
        font-size: 20px;
        margin-bottom: 10px;        
    }
    .content {
        font-size: 15px;
        .card-content {
            background: #F2f2f2;
            padding: 20px;
            .info-text {
                margin-top: 17px;
            }
        }
    }
    .button-actions {
        margin-top: 23px;
        text-align: right;
        .spacer {
            width: 10px;
            display: inline-block;
        }     
    }
}

// .dummy {
//     width: 100%;
//     height: 100%;
//     background: url('/images/dummy/main.jpg');
//     background-size: cover
// }